.example_display_api_nouns {
	.ball {
		width: 6rem;
		height: 6rem;
		background-color: #666;
		border-radius: 50%;
		display: grid;
		place-items: center;
		padding: 2rem;
		font-family: verdana;
		font-size: 1.2rem;
	}
}