$color1: #264653;
$color2: #e9c46a;

.example_random_german_noun_flashcard {

	.flashcard {
		position: relative;
		width: 13rem;
		height: 7rem;
	}

	.flashcard .front,
	.back {
		width: 13rem;
		height: 7rem;
		position: absolute;
		top: 3rem;
		left: 3rem;
		display: grid;
		place-items: center;
		box-shadow: 3px 3px 12px #555;
		font-size: 1.2rem;
		border-radius: .5rem;
		top: 0;
		left: 0;
	}

	.flashcard .back {
		background-color: $color2;
		color: $color1;
	}

	.flashcard .front {
		background-color: $color1;
		color: $color2;
		transition: .5s;
		z-index: 2;
	}

	.front:hover {
		transform: translateY(6rem);
	}
}